*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}
#root{
    background-image: url("https://img.freepik.com/free-vector/gradient-network-connection-background_23-2148881320.jpg?w=996&t=st=1719127537~exp=1719128137~hmac=50c2941254a0edb046c37eec79e142eb889b84563fe1871c40546fb6f3655be3");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login,#register{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px white;
    border: 1px solid white;
    filter: drop-shadow(1px 1px 1px white);
    border-radius: 40px;
}
h1{
    font-size: 3rem;
    text-align: center;
    padding: 0.5rem;
}
input{
    font-size: 1.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: transparent;
    border: 1px solid rgb(251, 249, 249);
}

input::placeholder {
    color: white;
  }
#button,#logOut{
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
}
#button input{
    padding: 0.5rem 1rem;
    background-color: rgb(72, 255, 0);
    color: black;
    border-radius: 20px;
    border: none;
}
#logOut button{
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    background-color: red;
    color: black;
    border-radius: 20px;
    border: none;
    filter: drop-shadow(1px 1px 3px white);
    
}
#navbar{
    position: fixed;
    top:0;
    width: 100vw;
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
}
#navbar a{
    font-size: 1.5rem;
    padding: 1rem;
    text-decoration: none;
}


